body {
  background-color: white;
  font: 15px arial, sans-serif;
}
h1{

}
.topnavigation {
  font: 15px arial, sans-serif;
  background-color: #333;
  overflow: hidden;
  text-align: center;
  display: block;
}

.topnavigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 15px;
}

.topnavigation a:hover {
  background-color: #636363;
  color: black;
}

.topnavigation a.active {
  background-color: #2e3cdb;
  text-decoration: underline;
  color: white;
}
