body {
  background-color: white;
  font: 15px arial, sans-serif;
}
h1{

}
h3{
  font: 15px arial, sans-serif;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width:100%;
  margin-left:-10px;
}
li{
  float: left;
  border-right: 1px solid #bbb;
}
li:last-child{
  border-right: none;
}
li a{
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #2e3cdb;
}
li a.active{
  background-color: #2e3cdb;
}
/*.topnavigation {
  font: 15px arial, sans-serif;
  background-color: #333;
  overflow: hidden;
  text-align: center;
  display: block;
}

.topnavigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 15px;
}

.topnavigation a:hover {
  background-color: #636363;
  color: black;
}

.topnavigation a.active {
  background-color: #2e3cdb;
  text-decoration: underline;
  color: white;
}*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 31.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
